* {
  	box-sizing: border-box;
  	font-family: Roboto;
}

.hidden {
	display: none;
}

.top-bar {
	background-color: yellow;
	border: 1px solid gold;
	height: 50px;
}

.question, header, .progress-bars, .button-label, .results {
	text-align: center;
}

.question-text, .final-results {
	font-size: 20px;
}

.current-score, .total-progress, .answer {
	font-size: 16px;
}

.button-label {
	display: inline-block;
	width: 20%;
	font-size: 16px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.submit-button, .start-button, .progress-bars, .answer-option, .answers, .question, .restart-button {
	display: block;
	margin: auto;
}

.start, .question, .submit-space, .restart {
	padding: 20px;
}

.submit-space, .answers {
	padding-top: 50px;
}

.answers {
	display: block;
	padding-bottom: 50px;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
	width: 80%;
	font-size: 0px;
}

.question {
	width: 80%;
}

.buttons {
	border-radius: 3px;
	border: 1px solid rgb(225,225,225);
	background-color: rgb(240,240,240);
	color: rgb(100,100,100);
	width: 30%;
	height: 40px;
	font-size: 20px;
}

.buttons:hover {
	cursor: pointer;
	border: 1px solid gray;
	background-color: rgb(247,247,247);
	color: black;
}

body, form {
	margin: 0px;
	padding: 0px;
	width: 100%;
}